*.o
*.obj
*.exe
*.EXE
*.dll
*.DLL
*.mll
*.MLL
*.lo
*.Plo
*.a
*.so
*.so.*
*.la
*.exp
*.suo
*.ncb
*.opt
*.patch
*.pdb
*.log
#*#
*/#*#
.*~
*~
.*.rej
*.rej
.#*
.DS_Store
*.pyc
CMakeCache.txt
CMakeFiles*
BUILD*
.deps*
*-Install
cmake_install.cmake
.svn*
svn-commit*
build/
build/*
output/
output/*
